<h2 id="title">Ember Mailcheck</h2>

<a href="https://github.com/johnotander/ember-mailcheck">https://github.com/johnotander/ember-mailcheck</a> <br><br>

{{mail-check inputClass='form-input'}} <br>

{{outlet}}
